@model EmployeeDto
@{
    ViewData["Title"] = "Employee Profile";
}
<style>
    body {
        background-color: #F0EDCF;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* Apply to all elements to handle padding and borders properly */
    *, *:before, *:after {
        box-sizing: inherit;
    }

    .profile-container {
        display: flex;
        justify-content: center;
        margin: 10px 0;
        min-height: calc(100vh - 150px); /* Ensure the container takes at least the full height minus the footer */
    }

    .profile-card {
        width: 60%;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
        background-color: #f9f9f9;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 30px; /* Add margin to ensure space between card and footer */
    }

    .profile-header {
        text-align: center;
    }

    .profile-image {
        display: block;
        margin: 0 auto;
        border-radius: 50%;
        width: 250px;
        height: 250px;
        object-fit: cover;
    }

    .profile-info {
        margin-top: 25px;
    }

        .profile-info div {
            margin-bottom: 10px;
        }

        .profile-info label {
            font-weight: bold;
            color: navy;
            text-align: center;
            word-spacing: 2px;
            font-family: 'Times New Roman', Times, serif;
            font-size: 1.5rem;
        }

        .profile-info span {
            display: block;
            margin-top: 5px;
            color: #555;
        }




</style>

<div class="profile-container">
    <div class="profile-card">
        <div class="profile-header">
            <img src="~/Files/Images/@Model.ImageUrl" alt="Employee Image" class="profile-image" />
            <h3>@Model.Name</h3>
        </div>

        <div class="profile-info">
            <div>
                <label>Address:</label>
                <span>@Model.Address</span>
            </div>

            <div>
                <label>Salary:</label>
                <span>@Model.Salary</span>
            </div>

            <div>
                <label>Email:</label>
                <span>@Model.Email</span>
            </div>

            <div>
                <label>Phone Number:</label>
                <span>@Model.PhoneNumber</span>
            </div>

            <div>
                <label>Hiring Date:</label>
                <span>@Model.HiringDate</span>
            </div>

            <div>
                <label>Department:</label>
                @if (ViewBag.Departments is List<DepartmentDto> departments)
                {
                    var department = departments.FirstOrDefault(d => d.Id == Model.DepartmentId);
                    <span>@department?.Name</span>
                }
            </div>
        </div>

        <div class="profile-footer">
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
